* {
	margin: 0;
	font-smooth: never;
	-webkit-font-smoothing: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	border-style: none;
}

a {
	color: white;
        text-decoration: none;
}

#pageDiv {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-image: url('images/background.jpg');
	font-family: "Times New Roman", Times, serif;
}

.innerDiv {
	text-align: center;
	color: white;
	width: inherit;
	position: absolute;
}

.floatableDiv {
	position: absolute;
}

.fauxLink {
	text-decoration: underline;
	cursor: pointer;
}

.subdued {
	color: gray;
}

.subdued a {
	color: inherit;
}

#connectionStatus {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#connectionInnerDiv {
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
	margin: 2em;
	width: 33em;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	color: white;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.65);
	padding: 10px;
}

#headerInfo {
	margin-top: 10px;
	line-height: 20px;
}

#header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#volumeWrapper {
	position: fixed;
	bottom: 120px;	right: 0;
	margin: 2em;
}

#volumeControl {
	background: url('images/sound.png') right;
	background-position: 0 -46px;
	cursor: pointer;
	width: 50px;
	height: 46px;
	opacity: 0.5;
}

#volumeControl:hover {
	opacity: 1;
}

#volumeSlider {
	position: absolute;
	height: 100px;
	bottom: 66px;
	display: block;
	right: 20px;
}

#selectaWrapper {
	position: fixed;
	bottom: 150px;
	right: 200px;
	margin: 5px;
}

#selectaSlider {
	position: absolute;
	width: 100px;
	bottom: 66px;
	display: block;
	right: 20px;
}
#soundControls {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2em;
	color: white;
}

#hideInterface {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	z-index: 1;
	color: white;
	cursor: pointer;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
}

#noJavascript {
	color: white;
	position: fixed;
	height: 5em;
	width: 25em;
	line-height: 5em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid white 1px;
	left: 50%;
	top: 50%;
	margin: -2.5em 0 0 -12.5em;
	font-size: 2em;
}

#noInternetExplorer {
	padding: 0.5em;
	color: white;
	position: fixed;
	height: 5em;
	width: 25em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid white 1px;
	left: 50%;
	top: 50%;
	margin: -2.75em 0 0 -13em;
	font-size: 2em;
	display: none;
}

#musicianDonation a{
    color: green;
    text-decoration: none
}

.selecta {
    display: block;
    margin: 10px 0;
    text-align: center;
    color:  white;
    width: 87px;
}
    
.serif {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.monospace {
	font-family: "Courier New", Courier, monospace;
}
