* {
	margin: 0;
	font-smooth: never;
	-webkit-font-smoothing: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	border-style: none;
}

a {
	color: white;
}

#pageDiv {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-image: url('images/background.jpg');
	font-family: "Times New Roman", Times, serif;
}

.innerDiv {
	text-align: center;
	color: white;
	width: inherit;
	position: absolute;
}

.floatableDiv {
	position: absolute;
}

.fauxLink {
	text-decoration: underline;
	cursor: pointer;
}

.subdued {
	color: gray;
}

.subdued a {
	color: inherit;
}

#connectionStatus {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#connectionInnerDiv {
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
	margin: 2em;
	width: 22em;
}

#header {
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
	color: white;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

#headerInfo {
	margin-top: 10px;
	line-height: 20px;
}

#header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#volumeControl {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2em;
	width: 50px;
	height: 46px;
	background-image: url('images/sound.png');
	background-position: 0 -46px;
	cursor: pointer;
}

#noJavascript {
	color: white;
	position: fixed;
	height: 5em;
	width: 25em;
	line-height: 5em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid white 1px;
	left: 50%;
	top: 50%;
	margin: -2.5em 0 0 -12.5em;
	font-size: 2em;
}

#noInternetExplorer {
	padding: 0.5em;
	color: white;
	position: fixed;
	height: 5em;
	width: 25em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid white 1px;
	left: 50%;
	top: 50%;
	margin: -2.75em 0 0 -13em;
	font-size: 2em;
	display: none;
}

.serif {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.monospace {
	font-family: "Courier New", Courier, monospace;
}
