#pageDiv {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-image: url('images/background.jpg');
}

.floatableDiv span {
	color: white;
}

.floatableDiv {
	text-align: center;
	position: absolute;
	vertical-align: middle;
	display: table-cell;
}
